<h1>Categories</h1>
<ul>
	<% @categories.each do |c| %>
		<li><%= c.category %></li>
	<% end %>
</ul>	
<h1>My Tasks</h1>
<ol>
	<% @tasks.each do |t| %>
		<li><%= link_to t.content, edit_category_task_path(t, @category) %>
		<%= link_to "X", category_task_path(t, @category), 
		:method => :delete, :remote => false, 
		:confirm => "Are you really sure?" %></li>
	<% end %>
</ol>
<%= link_to "Add Task", new_category_task_path %>